// Add custom font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800);


// Import bootstrap and fontawesome
@import "common/variables";
@import "bootstrap";
@import "font-awesome";

//Common
@import "common/global";
@import "common/typography";

//Layouts
@import "layout/header";
@import "layout/home";
@import "layout/page";
@import "layout/footer";

// Bootstrap Starter Template Styles
body {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
