// Add custom fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);

//Memphis Fonts
@font-face {
  font-family: 'Memphis';
  src: url('../fonts/31B5BA_0_0.eot');
  src: url('../fonts/31B5BA_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/31B5BA_0_0.woff2') format('woff2'), url('../fonts/31B5BA_0_0.woff') format('woff'), url('../fonts/31B5BA_0_0.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Memphis';
  src: url('../fonts/31A28D_0_0.eot');
  src: url('../fonts/31A28D_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/31A28D_0_0.woff2') format('woff2'), url('../fonts/31A28D_0_0.woff') format('woff'), url('../fonts/31A28D_0_0.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Memphis';
  src: url('../fonts/31A28D_1_0.eot');
  src: url('../fonts/31A28D_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/31A28D_1_0.woff2') format('woff2'), url('../fonts/31A28D_1_0.woff') format('woff'), url('../fonts/31A28D_1_0.ttf') format('truetype');
  font-weight: 100;
}

// Import bootstrap and fontawesome
@import "common/variables";
@import "bootstrap";
@import "font-awesome";

//Common
@import "common/global";
@import "common/typography";

//Layouts
@import "layout/header";
@import "layout/home";
@import "layout/page";
@import "layout/footer";

// Bootstrap Starter Template Styles
body {
  padding-top: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

