body.home {
  background: #ffffff;

}

body.home section {
  width: 100%;
}

body.home section .upper-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;

}

body.home section .upper-content .inside-container {
  background: #e9e9e9;
  padding-bottom: 2%;
  position: relative;
}

body.home section .upper-content .inside-container .home-banner {
  width: 100%;
  min-height: 600px;
  background-image: url(../images/home-banner.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);

}

body.home section .upper-content .inside-container .home-banner .image-center {
  width: 100%;
  margin-top: 8%;
}

body.home section .upper-content .inside-container .home-banner .image-center img {
  margin: 0 auto 0;
}

body.home section .upper-content .inside-container .home-banner h1 {
  margin: 0;
  padding: 0;
  width: 100%;

  color: #ffffff;
  text-align: center;
}

body.home section .upper-content .inside-container .home-banner p.under-title {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;

}

body.home section .upper-content .inside-container .home-banner .button-center {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

body.home section .upper-content .inside-container .home-banner .button-center a {
  font-size: 24px;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container .left-side {
  padding: 0;
  margin: 0;
  background: #00a0a3;
  background-image: url(../images/finger-print.png);
  background-size: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  padding: 3%;
  text-align: center;
  line-height: 1.8em;
  @media screen and (max-width: $screen-xs-max) {
    background-size: 55%;
  }

  h5 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    margin: 15px auto 30px;
    width: 80%;

  }
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container .left-side .author {
  margin-top: 25px;
  color: #ffffff;
  fot-size: 22px;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side {
  padding: 0;
  margin: 0;
  background: #383636;
  float: left;
  padding: 4%;
  text-align: center;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side p {
  color: #ffffff;
  padding-left: 6%;
  padding-right: 6%;
  line-height: 1.8em;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side .image-center {
  margin: 0;
  padding: 0;
  width: 100%;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side .image-center img {
  margin: 0 auto 3em;
}

body.home section .upper-content .inside-container .lower-banner .lower-content-container {
  .left-side,
  .right-side {
      @media screen and (min-width: $screen-md-max) {
          height: 489px;
      }
      @media screen and (min-width: $screen-md) {
        height: 550px;
      }
      @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          min-height: 707px;
      }
      @media screen and (max-width: $screen-xs) {
        min-height: 406px;
      }
  }
}

body.home section .featured-slider {
  .featured-slider-content {
    padding-left: 5%;
    padding-right: 5%;
    .inside-container {
      background: #e9e9e9;
      .center-wing {
        background: #e9e9e9;
        z-index: 100;
      }
    }
  }

    .left-wing {

      min-height: 300px;
      background-image: url(../images/leftwing-img.png);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      padding: 5%;
      text-align: center;
      img {
        margin: 0 auto 0;
      }
    }
    .right-wing {

      min-height: 300px;
      background-image: url(../images/rightwing-img.png);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      padding: 5%;
      text-align: center;
      img {
        margin: 0 auto 0;
      }
    }

    @media screen and (max-width: $screen-md){
      .left-wing,
      .right-wing {
          margin: 5%;
      }
    }

}

body.home section .featured-slider {
  .title-wlines {
    border-bottom: #19bcb9 solid 4px;
    display: inline-block;
    > a {
      color: #ffffff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


body.home section .featured-slider .carousel {
  text-align: center;
}

body.home section .featured-slider .carousel h2 {
  color: #00a0a3;
  font-size: 36px;
}

body.home section .featured-slider {
  .carousel {
    aside.carousel-controls-holder {
      width: 246px;
      margin: auto;
      position: relative;
      top: 1.2em;
      z-index: 1000;
      .carousel-control {
        background: #a4c313;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: $screen-md){
    .inside-container {
      float: left;
      padding-bottom: 1em;
      .center-wing {
        min-height: 360px;
      }
    }
    .carousel-inner {
      position: absolute;
    }
  }
}

body.home section .featured-slider .carousel .carousel-control .glyphicon {
  margin-top: 10px;

}