body.home {
    background: #ffffff;

}
body.home section{
	width:100%;
}
body.home section .upper-content{
	padding-left:5% !important;
	padding-right:5% !important;
	padding-top:2% !important;
	
	
}
body.home section .upper-content .inside-container{
	background:#e9e9e9 !important;
	padding-bottom:2% !important;
	position:relative !important;
}
body.home section .upper-content .inside-container .home-banner{
	width:100% !important;
	min-height:600px !important;
	background-image:url(../images/home-banner.png) !important;
  	background-size: cover !important;
    background-position:top center !important;
    background-repeat:no-repeat !important;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4) !important;

}
body.home section .upper-content .inside-container .home-banner .image-center{
	width:100% !important;
	margin-top:8% !important;
}
body.home section .upper-content .inside-container .home-banner .image-center img{
margin: 0 auto 0 !important;
}
body.home section .upper-content .inside-container .home-banner h1{
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
	font-size:72px !important;
	color:#ffffff !important;
	text-align:center !important;
}
body.home section .upper-content .inside-container .home-banner p.under-title {
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
	font-size:28px !important;
	color:#ffffff !important;
	text-align:center !important;
	font-weight:300 !important;

}
body.home section .upper-content .inside-container .home-banner .button-center{
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
	margin-top:20px !important;
	text-align:center !important;
}
body.home section .upper-content .inside-container .home-banner .button-center a{
	font-size:24px !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container{
margin:0 !important;
padding:0 !important;
width:100% !important;
margin-top:4% !important;
margin-bottom:2% !important;
	padding-left:5% !important;
	padding-right:5% !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .left-side{
	padding:0 !important;
	margin:0 !important;
	width:40% !important;
	height:350px !important;
	background:#00a0a3 !important;
	background-image:url(../images/finger-print.png) !important;
  	background-size: contain !important;
    background-position:right top !important;
    background-repeat:no-repeat !important;
	float:left !important;
	padding:3% !important;
	text-align:center !important;
	line-height:2em !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .left-side h3{
color:#ffffff !important;
fot-size:36px !important;

}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .left-side .author{
margin-top:25px !important;
color:#ffffff !important;
fot-size:22px !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side{
	padding:0 !important;
	margin:0 !important;
	width:60% !important;
	height:350px !important;
	background:#383636 !important;
	float:left !important;
	padding:4% !important;
	text-align:center !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side p{
 color:#ffffff !important;
padding-left:6% !important;
padding-right:6% !important;
padding-bottom:6% !important;
line-height:2em !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side .image-center{
margin:0 !important;
padding:0 !important;
width:100% !important;
}
body.home section .upper-content .inside-container .lower-banner .lower-content-container .right-side .image-center img{
margin:0 auto 0 !important;
}

body.home section .featured-slider{
	.inside-container{
		//background:#e9e9e9 !important;
		padding-bottom:2% !important;
		padding-top:3% !important;
		position:relative !important;
		.left-wing{
			position:absolute !important;
			top:20px !important;
			left:-5% !important;
			width:32% !important;
			min-height:485px;
			background-image:url(../images/leftwing-img.png) !important;
			background-size: cover !important;
			background-position:center top !important;
			background-repeat:no-repeat !important;
			padding:5% !important;
			text-align:center !important;
			img{
				margin:0 auto 0 !important;
			}
		}
	}
}


body.home section .featured-slider {
	h3.title-wlines{

		border-bottom:#19bcb9 solid 4px !important;
		display: inline-block;
		> a {
			color:#ffffff;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

body.home section .featured-slider .inside-container .right-wing{
	position:absolute !important;
	top:20px !important;
	right:-5% !important;
	width:32% !important;
	min-height:485px;
	background-image:url(../images/rightwing-img.png) !important;
  	background-size: cover !important;
    background-position:center top !important;
    background-repeat:no-repeat !important;
	padding:5% !important;
	text-align:center !important;
}
body.home section .featured-slider .inside-container .right-wing img{
	margin:0 auto 0 !important;
}

body.home section .featured-slider .inside-container .center-wing{
	margin:0 !important;
	padding:0 !important;
	width:35% !important;
	min-height:300px !important;
	margin:0 auto 0 !important;
	padding-left:5% !important;
	padding-right:5% !important;	
}
body.home section .featured-slider .carousel{
text-align:center !important;
}
body.home section .featured-slider .carousel h2{
color:#00a0a3 !important;
font-size:36px !important;
}
body.home section .featured-slider {
	.carousel {
		aside.carousel-controls-holder {
			width: 246px;
			margin: auto;
			position: relative;
			top: -22em;
			.carousel-control{
				background: #a4c313 !important;
				width: 40px !important;
				height: 40px !important;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}
}
body.home section .featured-slider .carousel .carousel-control .glyphicon{
margin-top:10px !important;

}