.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
.margin_top1{
margin-top:2%;
}
.margin_top2{
margin-top:4%;
}
.margin_top3{
margin-top:6%;
}
.margin_top4{
margin-top:8%;
}
.margin_top5{
margin-top:10%;
}
.margin_top6{
margin-top:12%;
}
.margin_top7{
margin-top:14%;
}
.margin_top8{
margin-top:16%;
}
.margin_top9{
margin-top:18%;
}
.margin_top10{
margin-top:20%;
}

@media screen and (min-width: $screen-md) {
    .pull-right-md {
        float: right;
    }
}

@media screen and (min-width: $screen-sm) {
    .pull-right-sm {
        float: right;
    }
}

.btn {
    border-radius: 0;
}